*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #5d72be;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 8px;
}
img{
    width: 100%;
}

/* menu css start */
.menu{
    background: #aa2020;
    overflow: hidden;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    color: #fff;
    padding: 12px 20px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu ul li a:hover{
    background: #c53b3b;
    transition-duration: 0.6s;
}
/* menu css end */

/* header start */
header{
    background-color: aquamarine;
    background: url(img/img.jpg) no-repeat scroll center center / cover; 
    width: 100%;

}
.header-content{
    text-align: center;
    padding: 150px 0;
    
}

.sub-heading{
    font-weight: 900;
    color: rgba(4, 92, 23, 0.76);
    font-size: 46px;
    margin-bottom: 12px;
    

}
.heading{
    color: rgb(16, 9, 119);
    font-size: 72px;
     margin-bottom: 60px;
     
} 
 


/* header end */

/* button */

a.btn {
    color: yellowgreen;
    font-size: 30px;
    background: darkred;
    display: inline-block;
    padding: 9px 7px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 12px;
    transition: 0.4s;
}
.btn:hover{
    color: yellow;
    background-color: #5d72be;

}



